*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
dist/android-host/2/vued-host-2.apk
dist/android-host/3/vued-host-3.apk
dist/android-host/latest/manifest.json
